.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #8739F9;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #8739F9;
  font-size: 8rem;
  color: #37B9F1;
}

p {
  font-size: 2rem;
  color: #37B9F1;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #F2F;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}